<nav class="fixed top-0 left-0 w-full z-50 bg-[#004643] text-[#faf4d3] px-6 py-4 shadow-md flex items-center">
  <span class="text-2xl font-bold flex-shrink-0">Trello Clone</span>
  <ul class="flex space-x-4 ml-auto whitespace-nowrap min-w-max">
    <li *ngIf="!(isLoggedIn$ | async)">
      <a routerLink="/login" class="hover:underline">Iniciar sesión</a>
    </li>
    <li *ngIf="!(isLoggedIn$ | async)">
      <a routerLink="/registrarse" class="hover:underline">Registrarse</a>
    </li>
    <li *ngIf="isLoggedIn$ | async">
      <a routerLink="/tableros" class="hover:underline">Mis tableros</a>
    </li>
    <li *ngIf="isLoggedIn$ | async">
      <button (click)="logout()" class="hover:underline cursor-pointer">Cerrar sesión</button>
    </li>
  </ul>
</nav>