<div class="flex items-center justify-center h-screen">
    <form
      (ngSubmit)="onSubmit()"
      class="bg-[#1a7459] text-white p-8 rounded-lg shadow-md w-full max-w-sm space-y-4"
    >
      <h2 class="text-2xl font-bold text-center">Registrarse</h2>
  
      <input
        type="text"
        [(ngModel)]="user.nombre"
        name="name"
        placeholder="Nombre"
        class="w-full px-4 py-2 border rounded focus:outline-none"
        required
      />
  
      <input
        type="email"
        [(ngModel)]="user.email"
        name="email"
        placeholder="Correo electrónico"
        class="w-full px-4 py-2 border rounded focus:outline-none"
        required
      />
  
      <input
        type="password"
        [(ngModel)]="user.password"
        name="password"
        placeholder="Contraseña"
        class="w-full px-4 py-2 border rounded focus:outline-none"
        required
      />
  
      <button
        type="submit"
        class="w-full bg-[#d1ac00] text-white py-2 rounded hover:bg-[#c2c655] cursor-pointer"
      >
        Registrarse
      </button>
    </form>
  </div>
  